<div class="groups form">
<?php echo $this->Form->create('Group'); ?>
	<fieldset>
		<legend><?php echo __('Добавить группу'); ?></legend>
	<?php
		echo $this->Form->input('name', array(
        'label' => __('Наименование')
    ));
	
	?>
	</fieldset>
<?php echo $this->Form->end(__('Добавить')); ?>
</div>
