#menu {
    background-color: white;
    color: white !important;
    float:left;
    padding: 10px;
}

#header-main {
    height: 80px;
    margin: 0px;
    color: white;
    padding: 5px;
    font-size: 24pt;
}

.shadowboxed {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

.news-block {
    padding: 5px;
}

hr.separator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}