<h1>Главная</h1>
<div>
    &nbsp;&nbsp;В настоящее время является общепризнанным, что информатика - это наука и технология XXI века. В нашем университете информатика 
наиболее полно представлена на кафедре информационных систем, которая готовит бакалавров, специалистов и магистров по специальности 
"Информационные управляющие системы и технологии". Наши выпускники - специалисты по применению компьютеров и других средств 
информационной техники в самых различных сферах человеческой деятельности, начиная от малых предприятий и кончая научными 
учреждениями, крупными банками, промышленными производствами всех форм собственности, государственными учреждениями. Они разрабатывают, 
создают и эксплуатируют компьютеризированные информационные системы, предназначенные для сбора, накопления, обработки и передачи информации.
<br><br>
    &nbsp;&nbsp;Центральным элементом таких систем является хранилище данных. Поэтому основная задача разработчика информационной системы заключается в 
структурировании сведений и знаний о предметной области и представления их в компьютерно-интерпретируемой форме. Опираясь на данные и знания, 
хранимые в памяти, информационные системы выполняют их необходимую обработку, делают логические выводы, предоставляют информацию пользователю 
в той форме, которая ему требуется.
<br><br>
    &nbsp;&nbsp;Если девизом компании "Ксерокс" было утверждение "Мы документируем весь мир", то лозунгом специалиста в области информационных систем 
является утверждение "Мы представим весь мир в электронном виде".
<br><br>
    &nbsp;&nbsp;Для этого образовательно - профессиональной программой по направлению "6.050101 — Компьютерные науки" предусмотрено изучение следующих 
фундаментальных и профессионально - ориентированных дисциплин :

<ul>
    <li>Дискретная математика</li>
    <li>Компьютерная графика</li>
    <li>Численные методы</li>
    <li>Технология защиты информации</li>
    <li>Теории информации</li>
    <li>Математические методы исследования операций</li>
    <li>Теория алгоритмов</li>
    <li>Теория принятия решений</li>
    <li>Алгоритмизация и программирование</li>
    <li>Объектно-ориентированное программирование</li>
    <li>Web-технологии и Web-дизайн</li>
    <li>Операционные системы</li>
    <li>Системное программирование</li>
    <li>Технологии создания програм-мных продуктов</li>
    <li>Организация баз данных и знаний</li>
    <li>Методы и системы искусственного интеллекта</li>
    <li>Интеллектуальный анализ данных</li>
    <li>Кросс-платформенное программирование</li>
    <li>Технические средства информационных систем</li>
    <li>Платформа Java</li>
    <li>Платформа .Net</li>
    <li>Основы разработки интерфейса пользователя</li>
    <li>Технология баз данных</li>
    <li>Основы цифровой обработки сигналов и изображений</li>
    <li>Платформа 1С</li>
    <li>Дополнительные разделы компьютерной графики и др.</li>
</ul>
<br>
&nbsp;&nbsp;На кафедре имеются дневное и заочное отделение, возможность получить второе высшее образование, аспирантура кафедры ИС многие годы активно
 сотрудничает с Федеральным техническим университетом г. Цюриха. Результаты сотрудничества представленны на сайте лаборатории интеллектуальной
 цифровой обработки сигналов кафедры.

C 2007 года кафедра проводит всеукраинскую научно-практическую конференцию молодых ученых и студентов "ИНФОРМАЦИОННЫЕ ПРОЦЕССЫ И ТЕХНОЛОГИИ".
</div>